<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>Employee Leave Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<h1>Employee Leave Management System</h1>

<nav>

<a href="/">Home</a>

<a href="/employees">Employees</a>

<a href="/leave">Leave</a>

<a href="/about">About</a>

</nav>

</header>

<main>

{% block content %}

{% endblock %}

</main>

<footer>

<p>

Developed by Teenu Anand

</p>

</footer>

</body>

</html>