{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">

Employees

</h2>
<form
method="GET"
action="/employees"
class="row g-3 mb-4">

<div class="col-md-10">

<input
type="text"
class="form-control"
name="search"
placeholder="Search by Employee ID, Name or Department"
value="{{ keyword }}">

</div>

<div class="col-md-2">

<button
class="btn btn-primary w-100">

Search

</button>
<a
href="/employees"
class="btn btn-secondary w-100 mt-2">

Clear

</a>
</div>

</form>

{% if session.get("role", "")|lower == "admin" %}

    <a
        href="{{ url_for('add_employee_page') }}"
        class="btn btn-primary mb-3"
    >
        + Add Employee
    </a>

{% endif %}
<table class="table table-striped table-hover">

    <thead class="table-primary">

        <tr>

            <th>#</th>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Department</th>
            {% if session.get("role", "")|lower == "admin" %}
                <th>Action</th>
            {% endif %}
        </tr>

    </thead>

    <tbody>

        {% for employee in employees %}

        <tr>

            <td>{{ loop.index }}</td>

            <td>{{ employee["employee_id"] }}</td>

            <td>{{ employee["name"] }}</td>

            <td> <span class="badge bg-primary"> {{ employee["department"] }} </span> </td>

            {% if session.get("role", "")|lower == "admin" %}

            <td>

                <a href="{{ url_for('edit', id=employee['id']) }}" class="btn btn-warning btn-sm"> Edit </a>

                <a href="{{ url_for('delete', id=employee['id']) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this employee?');">
                    Delete
                </a>

            </td>
            {% endif %}

        </tr>
        {% if employees|length == 0 %}

        <tr>
            <td colspan="5" class="text-center text-danger"> No employees found. </td>
        </tr>
        {% endif %}
        
        {% endfor %}

    </tbody>

</table>

{% endblock %}