{% extends "base.html" %}

{% block content %}

<div class="text-center">

<h1 class="mb-3">

Employee Leave Management System

</h1>

<p class="lead">

A Flask Web Application

</p>

</div>

<hr>

<div class="row mt-4">

<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>Total Employees</h5>

<h2 class="text-primary">

{{total}}

</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>Leave Requests</h5>

<h2 class="text-success">

{{ leave_stats.total }}

</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>Approved</h5>

<h2 class="text-info">

{{ leave_stats.approved }}

</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>Pending</h5>

<h2 class="text-danger">

{{ leave_stats.pending }}

</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>Rejected</h5>

<h2 class="text-danger">

{{ leave_stats.rejected }}

</h2>

</div>

</div>

</div>

</div>

{% endblock %}